@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sequel-Light";
  src: url("./fonts/Sequel100Black-55.ttf");
}
@font-face {
  font-family: "Sequel-Regular";
  src: url("./fonts/Sequel100Black-65.ttf");
}

@font-face {
  font-family: "Sequel-Heavy";
  src: url("./fonts/Sequel100Black-75.ttf");
}

* {
  font-family: 'PT Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

input::placeholder {
  color: #4e5e73;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-shadow-green {
  box-shadow: 0px 8px 15px rgba(157, 238, 133, 0.15);
}

@media only screen and (max-width: 768px) {
  #desktopConnect {
    display: none;
  }

  #mobileConnect {
    display: flex;
  }
}

#sproutsLogo {
  background: linear-gradient(
    270deg,
    rgba(127, 131, 130, 0) -24.87%,
    rgba(127, 131, 130, 0.74) 51.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
